.student-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.student-img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}
.student-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #405f73;
}
