.student-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.25s ease-out;
  outline: none;
}
.student-card-container:hover,
.student-card-container:focus {
  transform: scale(1.02);
}

.student-img {
  font-family: Montserrat;
  font-weight: bolder;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
  color: #405f73;
  font-size: 50px;
  background: #eceff1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #405f73;
  width: 200px;
}
