@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../../images/navbar-images/navbar.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100vw;
  margin-bottom: 100px;
  z-index: 1;
}
.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav_logo {
  z-index: 1;
  margin: 8px;
}

.list_items {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  height: 60px;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  color: #405f73;
  width: 50vw;
}

.nav_item {
  text-decoration: none;
  color: #405f73;
}
.nav_item:hover {
  color: #f29422;
}

.drop_down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 70vw;
  top: 50px;
  width: 100px;
  transform: translate(38%);
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.menu_items {
  padding: 10px 7px;
  text-decoration: none;
  color: #405f73;
  font-size: 15px;
}
.menu_items:hover {
  color: #f29422;
}

@media only screen and (max-width: 1000px) {
  .nav_bar {
    background-image: none;
    background-color: #f1f3f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    margin-bottom: 100px;
    z-index: 1;
    height: 150px;
  }
  .nav_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_logo {
    width: 300px;
    height: 60px;
    z-index: 1;
    margin: 20px 0 0 70px;
  }
  .list_items {
    justify-content: space-around;
    width: 100vw;
  }

  .nav_item {
    font-weight: bold;
  }
  .drop_down {
    left: 54vw;
    top: 120px;
  }
}
