body {
  margin: 0;
  padding: 0;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding: 0px 60px 0px 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #405f73;
}

.nav_btn {
  padding: 0px 25px 0px 25px;
  text-decoration: none;
  color: #405f73;
}
.nav_btn:hover {
  color: #f29422;
}

.header {
  position: fixed;
}

.nav_bar {
  width: 750px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  background-image: url(navbar.svg);
}

.drop_down {
  position: absolute;
  top: 27px;
  width: 60px;
  transform: translate(23%);
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.menu_items {
  padding: 0px 7px 0px 7px;
  text-decoration: none;
  color: #405f73;
  font-size: 9px;
}
.menu_items:hover {
  color: #f29422;
}
