@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  padding: 10px 140px 0px 0px;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #405f73;
}

.nav_btn {
  padding: 0px 35px 0px 35px;
  text-decoration: none;
  color: #405f73;
}
.nav_btn:hover {
  color: #f29422;
}

.header {
  position: fixed;
  width: 100%;
}

.nav_bar {
  z-index: 1;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 126px;
  background-image: url(navbar.svg);
}

.drop_down {
  position: absolute;
  top: 43px;
  width: 83px;
  height: 70px;
  transform: translate(38%);
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.menu_items {
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  color: #405f73;
  font-size: 15px;
}
.menu_items:hover {
  color: #f29422;
}

@media (max-width: 900px) {
  .nav_bar {
    display: flex;
    z-index: 1;
    justify-content: center;
    height: 45px;
    background: #f1f3f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  .header {
    position: fixed;
    width: 100%;
  }
}

@media (min-width: 290px) and (max-width: 450px) {
  .nav_bar {
    justify-content: center;
    height: 45px;
    background: #f1f3f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  .list {
    justify-content: center;
    padding: 12px 0 0 0;
    font-weight: 750;
    font-size: 15px;
  }
}
