.main-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 50px;
  background: #eceff1;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 50px;

}
.footer-icons {
  position: fixed;
  left: 30px;
  height: 30px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.icon-img {
  width: 30px;
}
.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #405f73;
}

@media only screen and (max-width: 1000px)  {
  .container {
    justify-content: space-around;
    align-items: center;
    height: 50px;
  
  }
  .footer-icons {
    position: static;
    justify-content: space-around;
  }
  
}

@media only screen and (max-width: 450px)  {
  .container {
    flex-direction: column;
    justify-content: center;  
  }
  .main-footer{
    padding: 10px 0;
  }
  .footer-icons {
    margin: 5px 0;
  }  
}