@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 100px 0px 0px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-transform: capitalize;
  color: #405f73;
}

.cohort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.coh_card {
  padding-top: 122px;
}
