@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.city_title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 100px 0px 0px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-transform: capitalize;
  color: #405f73;
}

.cohort {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 330px;
}
.coh_card {
height: 150px;
}

.coh_slide_show{
  align-self: flex-end;
  width: 80% ;
}