.about-us .container{
     height: 500px;
    display: flex;
   flex-direction: row;
   width: 100%;
}
.about-us .info{
    width: 600px;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 180px;

}
 .about-us .title{
 display: flex;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 50px;
 align-items: center;
 text-align: center;

}
.about-us .description{
    width: 550px;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #405F73;
    margin-bottom: 30px;

}
.team-img{
 margin-left:50px ;
 margin-top: 180px;

} 
.learnMore-btn{
    width: 200px;
    padding: 15px 0;
    background: #f29422;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.25s ease-out;
    outline: none;
}

.learnMore-btn:hover,
.learnMore-btn:focus {
  transform: scale(1.05);
}