.FormInput {
  height: 40px;
  width: 300px;
  margin: 7px 0 7px 0;
}

.login-button {
  height: 40px;
  width: 70px;
  margin: 7px 0 7px 0;
  background-color: #f29422;
  color: aliceblue;
  border-radius: 20%;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  padding-top: 15px;
}
.form-title {
  color: #f29422;
  padding: 5px;
  margin-bottom: 20px;
  font-family: Bold,'Times New Roman', Times, serif;
}
/* .form-image {
} */
