.cohort-section {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cohort-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cohort-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #405f73;
}
.slide-cohort {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #405f73;
}
.cohort-details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #405f73;
  width: 450px;
  margin: 20px 0px;
}

.cohort-slide-section {
  background: rgba(64, 95, 115, 0.0738);
  margin: 160px 0 100px;
  height: 350px;
  padding: 20px;
}
