.cohort-section {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cohort-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cohort-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #405f73;
}
.slide-cohort {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #405f73;
  padding-top: 100px;
}
.cohort-details {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #405f73;
  width: 450px;
  margin: 20px 0px;
}
