.profile-container {
  margin: 130px 0 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.student-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 480px;
  border-radius: 6px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.student-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-self: center;
  margin: 20px 0;
}

.student-card-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #405f73;
  text-align: center;
}

.student-role {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #405f73;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-info,
.contact-info span a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #405f73;
}

.contact-icon {
  width: 40px;
  height: 40px;
  margin: 0 20px 0 40px;
}
.student-projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  padding: 0 10px ;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  height: 480px;

}
.student-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  border-radius: 6px;
}


.projects-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  height: 80px;
  margin-top: 10px;
  color: #405f73;
}

@media only screen and (max-width: 1110px) {
  .student-projects-container {
    margin: 30px 10px 100px;
  }
  .student-card {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 760px) {
  .student-projects-container {
    width: 400px;
    height: 800px;
    margin: 30px 0 100px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .projects-title {
    font-size: 40px;
    height: 50px;
  }
  .project-view {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 450px) {
  .student-projects-container {
    width: 300px;
  }
  .student-card {
    width: 300px;
  }
}
